h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
ol {
    list-style-position: inside;
    text-align: center;
}
a #japan {
    color: #BC002D !important;
}
a {
    text-decoration: none;
}